<!DOCTYPE html>
<html ng-app="donateBlood">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/temaFreelancer")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="page-top" class="index" ng-controller="PatientListCtrl">
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/temaFreelancer")
    @RenderSection("scripts", required: false)
</body>
</html>
